body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase; }

header {
  background-color: #3498DB;
  width: 100%; }

h1, h2, h3 {
  margin: 0; }

.white {
  color: white; }

.center {
  margin: 0 auto; }

.items {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  width: 100%; }

.item {
  text-align: center;
  width: 230px; }
  .item img {
    width: 150px;
    border-radius: 50%;
    padding-bottom: 20px; }
  .item h3 {
    font-size: small; }

.info-card {
  padding: 40px 40px 0 40px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  font-size: 13px; }
  .info-card h3 {
    font-weight: normal;
    font-size: 25px; }
  .info-card img {
    height: 20px;
    padding: 20px; }
  .info-card p {
    margin: 0; }
  .info-card button {
    margin: 40px 0;
    padding: 15px 50px;
    color: white;
    font-size: 10px;
    background: #3498db;
    font-weight: 600;
    border: none;
    border-radius: 25px; }

.conteiner {
  width: 750px;
  margin: 0 auto; }

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }
  .topbar img {
    height: 20px; }
  .topbar nav span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0; }

.welcome-section {
  background-color: #3498DB;
  width: 100%; }

.welcome-content {
  width: 100%;
  text-align: center;
  color: white;
  padding: 100px 0 200px; }
  .welcome-content h1 {
    font-size: 40px;
    padding: 5px; }
  .welcome-content h2 {
    font-size: 30px;
    padding: 5px; }

.aboutus {
  width: 100%;
  background-color: #ECF0F1; }
  .aboutus .conteiner {
    transform: translateY(-15%); }
    .aboutus .conteiner .info-card {
      padding: 40px 100px; }

.recent-projects {
  width: 100%;
  background-color: #27AE60; }
  .recent-projects .conteiner {
    width: 1170px; }
    .recent-projects .conteiner img {
      width: 100%;
      padding-bottom: 50px; }

.section-header {
  background: none;
  text-align: center;
  max-width: 600px;
  margin: 0 auto; }
  .section-header h2 {
    padding-top: 80px;
    font-size: 25px;
    font-weight: normal;
    color: white; }
  .section-header p {
    font-size: 13px;
    color: #e1e1e1;
    margin: 0;
    padding: 20px 0 40px; }

.latin {
  width: 100%;
  background-color: #ECF0F1;
  text-align: center;
  padding: 70px 0 200px; }
  .latin .conteiner h2 {
    font-size: 25px; }

.our-clients {
  width: 100%;
  background-color: #9B59B6;
  text-align: center; }
  .our-clients .conteiner {
    transform: translateY(-15%); }
    .our-clients .conteiner h2 {
      font-size: 25px;
      color: white;
      margin: 50px; 
	  font-weight: normal;}

.cards {
  width: 100%;
  display: flex;
  justify-content: center; }
  .cards .info-card {
    width: 50%; }
    .cards .info-card h3 {
      color: black; }
    .cards .info-card:first-child {
      margin-right: 10px; }
    .cards .info-card:last-child {
      margin-left: 10px; }

.clients {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px; }
  .clients img {
    width: 150px;
    padding: 0 10px; }

.our-team {
  width: 100%;
  background-color: #ECF0F1; }
  .our-team .conteiner .section-header h2 {
    color: black; }
  .our-team .conteiner .section-header p {
    color: black; }
  .our-team .conteiner .items {
    padding-top: 20px; }
    .our-team .conteiner .items .item p {
      font-size: 15px;
      text-transform: none; }

.social-networks ul {
  list-style-type: none;
  padding: 0 0 50px 0;
  display: flex;
  justify-content: center; }
  .social-networks ul li {
    height: 28px;
    width: 28px;
    background-size: cover;
    margin: 10px; }
    .social-networks ul li a {
      width: 28px;
      display: block;
      height: 28px; }

.facebook {
  background-image: url("../img/facebook.jpg"); }

.twitter {
  background-image: url("../img/twitter.jpg"); }

.gplus {
  background-image: url("../img/gplus.jpg"); }

footer {
  background-color: #2C3E50;
  width: 100%;
  padding: 40px 0; }
  footer .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .conteiner img {
      height: 20px; }

.footer-nav ul {
  list-style-type: none; }
  .footer-nav ul li {
    display: inline-block; }
    .footer-nav ul li a {
      text-decoration: none;
      color: #eeeeee;
      padding: 0 10px;
      font-size: 13px; }
